<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not a valid name!">
      <input nz-input formControlName="name" id="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sprint" nzRequired>Sprint</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Required">
      <nz-select formControlName="sprint" [nzOptions]="sprintOptions"></nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="developer" nzRequired>Developer</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Required">
      <nz-select formControlName="developer" [nzOptions]="developerOptions"></nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sp">Story Point</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="sp" [nzMin]="0.1" [nzMax]="9" [nzStep]="0.1"
                       [style]="{width: '350px'}"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tester">Tester</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="tester" [nzOptions]="testOptions"></nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="test_sp">Test Story Point</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="test_sp" [nzMin]="0.1" [nzMax]="9" [nzStep]="0.1"
                       [style]="{width: '350px'}"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Save</button>
    </nz-form-control>
  </nz-form-item>
</form>
